* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}


/* top navbar */

.top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #544536;
    color: #fff;
    font-size: 12px;
}

.top-navbar p {
    margin-top: 13px;
    margin-left: 15px;
}

.top-navbar .icons {
    margin-top: 13px;
    margin-right: 15px;
}

.top-navbar a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.top-navbar a img {
    margin-bottom: 3px;
}

.top-navbar a:hover {
    color: #e6740a;
}

@media screen and (max-width:400px) {
    .top-navbar a {
        font-size: 13px;
    }
    .top-navbar a img {
        width: 15px;
    }
    .top-navbar p {
        font-size: 13px;
    }
}

@media screen and (max-width:320px) {
    .top-navbar a {
        font-size: 10px;
    }
    .top-navbar a img {
        width: 13px;
    }
    .top-navbar p {
        font-size: 10px;
    }
}

@media screen and (max-width:318px) {
    .top-navbar a {
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img {
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p {
        font-size: 10px;
        margin-top: 20px;
    }
}


/* top navbar */


/* navbar */

.text-color {
    color: #544536 !important;
    white-space: nowrap;
}

.fw-600 {
    font-weight: 600;
}

.navbar-nav .nav-item:hover>a {
    color: orange !important;
}

.item-nav {
    position: relative;
}

.item-nav:hover .nav-child {
    display: block;
}

.nav-child::after {
    content: '';
    display: block;
    top: -15px;
    width: 250px;
    height: 20px;
    background-color: transparent;
    position: absolute;
}

.custom-nav {
    position: fixed !important;
    z-index: 2;
    top: 47px;
    left: 0;
    right: 0;
}

.custom-top-nav {
    position: fixed !important;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.mt-72 {
    margin-top: 135px;
}

.nav-child {
    padding: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 55px;
    left: 0;
    display: none;
    z-index: 3;
}

.text-l {
    text-align: left;
}

.nav-child .nav-child-item {
    list-style-type: none;
}

.nav-child .nav-child-item:hover a {
    color: orange !important;
}

.nav-child .nav-child-item>a {
    padding: 8px 21px !important;
}

.h2-title {
    margin-bottom: 30px;
    color: #e66c09;
}

i.fab.fa-app-store-ios {
    display: block;
    margin-bottom: 50px;
    font-size: 28px;
}

.bg-ban {
    background: #544536;
}


/* home content */

.home {
    /* width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative; */
    background: #cdbfb42b;
    z-index: 0;
    padding: 94px 0;
}

.home .img {
    flex: 1 1 300px;
}

.bg-ban-phu {
    background: url('../img/bannervip.jpeg') no-repeat;
    background-size: cover;
    /* Đặt kích thước */
    background-position: center center;
    /* Đặt vị trí giữa màn hình */
}

.fz-big {
    font-size: 20px;
}

.text-center {
    text-align: center
}

.mt-23 {
    margin-top: 23px;
}

.card-text-title {
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
}

.card-lists {
    background: #353434;
    border-radius: 12px;
    color: orange
}

.fz-18 {
    font-size: 18px !important;
}

.line-h-16 {
    line-height: 1.6
}

.rg-24 {
    row-gap: 24px;
}

.color-orange-bold {
    color: orange !important;
    font-weight: bold;
}

.list-none {
    list-style-type: none;
}

.bg-ban-phu-hoa {
    width: 100%;
    height: 283px;
    display: block;
    position: absolute;
    top: 134px;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.bg-ban-phu::after {
    /* content: 'CHào';
    width: 100%;
    height: 283px;
    display: block;
    position: absolute;
    top: 134px;
    right: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); */
}

.banner-phu {
    border-radius: 12px;
    margin-top: 30px;
    width: 85%;
    max-width: 642px;
}

.home .img img {
    border-radius: 50%;
    margin-top: 30px;
    width: 85%;
    max-width: 642px;
}

.home .content {
    flex: 1 1 400px;
    margin-top: 20px;
}

.content h1 {
    color: #ff9900;
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}

.content h1 span {
    color: #ff8800;
    text-shadow: 1px 1px 1px black;
}

#span2 {
    color: #e99f0b;
}

.content p {
    margin-left: 23px;
    color: #fff;
    line-height: 1.6;
}

.btn {
    margin-left: 13px;
}

.btn button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: #ffc800;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn button:hover {
    background-color: #ffc800;
    color: black;
    border: none;
}


/* @media screen and (max-width:1200px) {} */


/* @media screen and (max-width:799px) {} */


/* @media screen and (max-width:550px) {

} */

@media screen and (max-width:420px) {
    .content h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:320px) {
    .content h1 {
        font-size: 36px;
    }
}


/* home content */


/* product cards */

#product-cards {
    margin-top: 100px;
}

#product-cards h1 {
    color: #f18509;
    text-shadow: 1px 1px 1px rgb(20, 17, 15);
    border-bottom: 2px solid #dec62a;
}

#product-cards .card h3 {
    font-size: 20px;
    color: rgb(201, 114, 7);
}

#product-cards .card p {
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.star i {
    margin-left: 5px;
    font-size: 13px;
}

.checked {
    color: #ffc800;
}

#product-cards .card h2 {
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

#product-cards .card h2 span {
    float: right;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    /* #product-cards .card h3 {
        font-size: 15px;
    } */
}


/* product cards */


/* other cards */

#other-cards {
    margin-top: 30px;
}

#other-cards .card {
    background-color: #a9a9a92b;
}

.fs-2r {
    font-size: 2rem !important;
}

#other-cards .card h3 {
    margin-top: 30px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}

#other-cards .card h5 {
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 220px;
}

#other-cards .card p {
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}

@media screen and (max-width:1000px) {
    #other-cards .card h3 {
        margin-top: 5px;
        font-size: 20px;
    }
    #other-cards .card h5 {
        margin-top: 5px;
        font-size: 15px;
    }
    #other-cards .card p {
        margin-top: 0px;
    }
    #shopnow {
        margin-top: 0px;
        width: 120px;
        height: 30px;
        font-size: 16px;
    }
}


/* other cards */


/* banner */

.banner {
    margin-top: 60px;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}

.img .to {
    margin-top: 2px;
}

.banner .img {
    flex: 1 1 300px;
}

.banner .img img {
    margin-top: 30px;
    width: 100%;
}

.banner .content {
    flex: 1 1 400px;
    margin-top: 20px;
}

.banner .content h1 {
    color: #f78e0f;
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
}

.banner .content h1 span {
    color: #f78e0f;
    text-shadow: 1px 1px 1px black;
}

#span2 {
    color: #f78e0f;
}

.banner .content p {
    margin-left: 23px;
}

.btn {
    margin-left: 13px;
}

.btn button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(234, 166, 29);
    color: #000;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn button:hover {
    background-color: #ffc800;
    color: black;
    border: none;
}


/* other cards */

#other {
    margin-top: 50px;
}

#other .card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#other .card h3 {
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
}

#other .card p {
    margin-top: 10px;
    color: white;
    text-shadow: 0px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
}


/* footer */

#footer {
    color: white;
    font-size: 14px;
    background-color: #252525;
    margin-top: 100px;
}

#footer .copyright {
    text-align: center;
    float: left;
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
}

#footer .credits a {
    color: #ffc800;
}


/* footer */

html {
    scroll-behavior: smooth;
}

.arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

#about {
    margin-top: 30px;
}

#about p {
    color: #f37b19;
    margin-bottom: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

#about .b-16 {
    margin-bottom: 16px;
}

#about h3 {
    font-weight: bold;
    color: #e68911;
    text-shadow: 0px 1px 1px black;
}

#about button {
    width: 150px;
    height: 36px;
    color: white;
    background-color: rgb(253, 114, 7);
    border-radius: 5px;
    cursor: pointer;
}

.mt-12 {
    margin-top: 12px;
}

.btn-dangky {
    font-size: 18px;
    margin: 0;
    width: 164px;
    height: 43px;
    color: white;
    background-color: rgb(253, 114, 7);
    border-radius: 5px;
    cursor: pointer;
}