:root {
    --main-bg-color: #009d63;
    --main-text-color: orange;
    --second-text-color: #bbbec5;
    --second-bg-color: #353434;
}

.bg-ispace {
    background: #353434 !important;
}

.hidden-button {
    background-color: transparent;
    border: none;
}

.border-bottom {
    border-bottom: 1px solid #667 !important;
}

.bg-content {
    background: bisque !important;
}

.ad-fixed-top {
    position: fixed;
    width: 100%;
    background-image: linear-gradient( to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

.mt-114px {
    margin-top: 114px;
}

.primary-text {
    color: var(--main-text-color) !important;
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient( to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.pos-fixed {
    position: fixed;
    z-index: 99;
}

.ml-15rem {
    margin-left: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 20px) {
    .ml-15rem {
        margin-left: 0rem;
    }
}

.bg-ttt {
    background: antiquewhite;
}

.pad-8-n-t {
    padding: 0px 8px 8px 8px
}

.z-ad-100 {
    z-index: 100;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    .ml-15rem {
        margin-left: 15rem;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}